# Copyright (c) 2007-2013 Alysson Bessani, Eduardo Alchieri, Paulo Sousa, and the authors indicated in the @author tags
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file defines the replicas ids, IPs and ports.
# It is used by the replicas and clients to find connection info
# to the initial replicas.
# The ports defined here are the ports used by clients to communicate
# with the replicas. Additional connections are opened by replicas to
# communicate with each other. This additional connection is opened in the
# next port defined here. For an example, consider the line "0 127.0.0.1 11000".
# That means that clients will open a communication channel to replica 0 in
# IP 127.0.0.1 and port 11000. On startup, replicas with id different than 0
# will open a communication channel to replica 0 in port 11001.
# The same holds for replicas 1, 2, 3 ... N.

#server id, address, portClient and portReplicaReplica (the ids from 0 to n-1 are the service replicas) 
#0 127.0.0.1 11000 11001
#1 127.0.0.1 11010 11011
#2 127.0.0.1 11020 11021
#3 127.0.0.1 11030 11031
#4 127.0.0.1 11040 11041
#5 127.0.0.1 11050 11051
#6 127.0.0.1 11060 11061
#7 127.0.0.1 11070 11071

0 192.168.2.31 11000 11001
1 192.168.2.32 11000 11001
2 192.168.2.33 11000 11001
3 192.168.2.30 11000 11001

#4 192.168.2.31 12000 12001
#5 192.168.2.32 12000 12001
#6 192.168.2.33 12000 12001
#7 192.168.2.34 12000 12001

#8 192.168.2.31 13000 13001
#9 192.168.2.32 13000 13001
#10 192.168.2.33 13000 13001
#11 192.168.2.34 13000 13001

#12 192.168.2.31 14000 14001
#13 192.168.2.32 14000 14001
#14 192.168.2.33 14000 14001
#15 192.168.2.34 14000 14001

7002 127.0.0.1 11100


