# Copyright (c) 2007-2013 Alysson Bessani, Eduardo Alchieri, Paulo Sousa, and the authors indicated in the @author tags
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

############################################
####### Communication Configurations #######
############################################

#HMAC algorithm used to authenticate messages between processes ('HmacSHA512' is the default value)
system.communication.hmacAlgorithm = HmacSHA512
#HMAC algorithm provider ('SunJCE' is the default value)
system.communication.hmacAlgorithmProvider = SunJCE

#Algorithm to generate secret keys used to generate MACs ('PBKDF2WithHmacSHA1' is the default value)
system.communication.secretKeyAlgorithm = PBKDF2WithHmacSHA1
#system.communication.secretKeyAlgorithm = PBEWithSHA1AndDESede
#Secret keys algorithm provider ('SunJCE' is the default value)
system.communication.secretKeyAlgorithmProvider = SunJCE

#Algorithm used to compute hashes ('SHA-512' is the default value) (MessageDigest)
system.communication.hashAlgorithm = SHA-512
#Hash algorithm provider ('SUN' is the default value)
system.communication.hashAlgorithmProvider = SUN

#Signature algorithm used to verify clients requests and to perform the authenticated Diffie-Hellman exchange during
#replica start-up ('SHA512withRSA' is the default value). This parameter is overwritten in the event that a custom key loader is supplied
#https://docs.oracle.com/javase/7/docs/technotes/guides/security/SunProviders.html#SunRsaSignProvider
system.communication.signatureAlgorithm = SHA512withRSA
system.communication.signatureAlgorithmProvider = SunRsaSign
system.communication.defaultKeyLoader = RSA

#Signature algorithm provider ('Elliptic Curve is used with keyLoader ECDSA or SunEC', BC (Bounce Castle) -> ECDSA and SunEC -> SunEC)
#https://docs.oracle.com/javase/7/docs/technotes/guides/security/SunProviders.html#SunEC
#system.communication.signatureAlgorithm = SHA512withECDSA
#system.communication.signatureAlgorithmProvider = SunEC
#system.communication.defaultKeyLoader = SunEC
# --------
#system.communication.signatureAlgorithm = SHA512withECDSA
#system.communication.signatureAlgorithmProvider = BC
#system.communication.defaultKeyLoader = ECDSA 


#Specify if the communication system should use a thread to send data (true or false)
system.communication.useSenderThread = true

#Force all processes to use the same public/private keys pair and secret key. This is useful when deploying experiments
#and benchmarks, but must not be used in production systems. This parameter will only work with the default key loader.
system.communication.defaultkeys = true

#IP address this replica should bind to. If this parameter does not have a valid ip address,
#the replica will fetch the host address on its own. If config/hosts.config specifies the
#loopback address for the host machine, this parameter is overwritten by that
system.communication.bindaddress = auto

############################################
### Replication Algorithm Configurations ###
############################################

#Number of servers in the group 
system.servers.num = 4

#Maximum number of faulty replicas 
system.servers.f = 1

#Timeout to asking for a client request
system.totalordermulticast.timeout = 12000


#Maximum batch size (in number of messages)
system.totalordermulticast.maxbatchsize = 768
#system.totalordermulticast.maxbatchsize = 90

#Number of nonces (for non-determinism actions) generated
system.totalordermulticast.nonces = 10  

#if verification of leader-generated timestamps are increasing 
#it can only be used on systems in which the network clocks are synchronized 
system.totalordermulticast.verifyTimestamps = false

#Quantity of messages that can be stored in the receive queue of the communication system
system.communication.inQueueSize = 500000

# Quantity of messages that can be stored in the send queue of each replica
system.communication.outQueueSize = 500000

#Set to true if SMaRt should use signatures, otherwise set to false default is false). 
system.communication.useSignatures = false

#Set to true if SMaRt should use MAC`s, otherwise set to false (default is true).
system.communication.useMACs = false

#Print information about the replica when it is shutdown
system.shutdownhook = true

#Force all replicas to deliver to the application the same number of requests per batch.
#This is not the same batch used during the ordering protocol
system.samebatchsize = false

############################################
###### State Transfer Configurations #######
############################################

#Activate the state transfer protocol ('true' to activate, 'false' to de-activate)
system.totalordermulticast.state_transfer = true

#Maximum ahead-of-time message not discarded
system.totalordermulticast.highMark = 10000

#Maximum ahead-of-time message not discarded when the replica is still on EID 0 (after which the state transfer is triggered)
system.totalordermulticast.revival_highMark = 10

#Number of ahead-of-time messages necessary to trigger the state transfer after a request timeout occurs
system.totalordermulticast.timeout_highMark = 200

############################################
###### Log and Checkpoint Configurations ###
############################################

system.totalordermulticast.log = true
system.totalordermulticast.log_parallel = false
system.totalordermulticast.log_to_disk = false
system.totalordermulticast.sync_log = false

#Period at which BFT-SMaRt requests the state to the application (for the state transfer state protocol)
system.totalordermulticast.checkpoint_period = 8192
system.totalordermulticast.global_checkpoint_period = 120000

system.totalordermulticast.checkpoint_to_disk = false
system.totalordermulticast.sync_ckp = false


############################################
###### Reconfiguration Configurations ######
############################################

#Replicas ID for the initial view, separated by a comma.
# The number of replicas in this parameter should be equal to that specified in 'system.servers.num'
system.initial.view = 0,1,2,3

#The ID of the trust third party (TTP)
system.ttp.id = 7002

#This sets if the system will function in Byzantine or crash-only mode. Set to "true" to support Byzantine faults
system.bft = true


############################################
########## SSL/TLS Configuration ###########
############################################

#Enable or Disable SSl/TLS, default is true. 
system.ssltls = false

#Note that the standard TLS protocol version names used in the JDK(1.8) are:
#Possible options: 'SSLv3', 'TLSv1', 'TLSv1.1' and 'TLSv1.2'. Prefer TLSv1.1 or TLSv1.2 instead the others. (Default is TLSv1.2.).
system.ssltls.protocol_version = TLSv1.2

# TO IMPLEMENT, With NULL means, NoCipher.
#system.ssltls.enabled_ciphers = 
#	"TLS_RSA_WITH_NULL_SHA256", 
#	"TLS_ECDHE_ECDSA_WITH_NULL_SHA",
#	"TLS_ECDHE_RSA_WITH_NULL_SHA",
#	"SSL_RSA_WITH_NULL_SHA",
#	"TLS_ECDH_ECDSA_WITH_NULL_SHA",
#	"TLS_ECDH_RSA_WITH_NULL_SHA",
#	"TLS_ECDH_anon_WITH_NULL_SHA",
#	"SSL_RSA_WITH_NULL_MD5"
#
